<html>	
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <center>
	<h1>Lanzar proceso<h1>
	<form method="POST" action="/run_process">
        <div id="comp">
    <table>
		<tr><td>PID</td><td><input type="text" name="pid"> </td></tr>
		<tr><td>RAM</td><td><input type="text" name="ram"> </td></tr>
		<tr><td>CPU</td><td><input type="text" name="cpu"> </td></tr>
		<tr><td>HDD</td><td><input type="text" name="hdd"> </td></tr>
        
    </table>
        </div>
      <input type="submit" value="Ejecutar!">
	</form>

</center>
</html>
